# IntellJ
.idea
*.iml

# Finder MACOS preferences
.DS_Store

docs/.vitepress/cache
docs/.vitepress/dist/
node_modules/
build_log.txt
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
